@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
  
    width: 1440px;
    height: 300px;
    top: auto;

    background: #CBEDD5;
}
.header{
    position: absolute;
    width: 1540px;
    height:51px;
    left: 0px;
    top:0px;
    display: inline;
    background: #439A97;
    text-align: center;
    
}

.headerText{
    position: relative;
  
    font-family:'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 27px;
    color: #FFFFFF;
    top:7px;
    
}

#homepageHeadline{
    position: relative;
    width: 678px;
    height: 150px;
    left: 71px;
    top: 225px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    


    color: #439A97;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.tagline{
    position: relative;
    width: 656px;
    height: 68px;
    left: 71px;
    top: 219px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;



    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.buttonDGreen{
    position: relative;
    width: 160px;
    height: 48px;
    left: 71px;
    top: 239px;

    background: #5B9896;
    border-radius: 10px;
}

#startText{
    position: relative;
    width: 208px;
    height: 53px;
    left: 23px;
    top: 8px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;

    cursor: pointer;

    color: #FFFFFF;
}

#imgDiv{
    position: absolute;
    width: 805px;
    height: 671px;
    left: 712px;
    top: 123px;
    
   
}